[Unit]
Description=Soft IOC for TB Orbit Correction.
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs/tb-ap-sofb
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/.magic-environment-file'
EnvironmentFile=-/tmp/.magic-environment-file
ExecStart=/usr/local/bin/sirius-ioc-tb-ap-sofb.py
