[Unit]
Description=Soft IOC for TB Position and Angle Correction
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs/tb-ap-posang
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-tb-ap-posang'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-tb-ap-posang
ExecStart=/usr/local/bin/sirius-ioc-tb-ap-posang.py
