[Unit]
Description=Soft IOC for TB Position and Angle Correction
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log/tb-ap-posang
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-tb-ap-posang'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-tb-ap-posang
ExecStart=/usr/local/bin/sirius-ioc-tb-ap-posang.py ch-ch
