[Unit]
Description=Soft IOC for BO Tune Correction
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log/bo-ap-tunecorr
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-bo-ap-tunecorr'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-bo-ap-tunecorr
ExecStart=/usr/local/bin/sirius-ioc-bo-ap-tunecorr.py
