[Unit]
Description=Soft IOC for BO Chromaticity Correction
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs/bo-ap-chromcorr
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-bo-ap-chromcorr'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-bo-ap-chromcorr
ExecStart=/usr/local/bin/sirius-ioc-bo-ap-chromcorr.py
