# -------- LIST OF CONTRIBUTERS --------

# @murilobalves
# @xresende
# @anacso17
# @fernandohds564
# @liulin-lili

# --- default owners of the repo
* @xresende @anacso17 @fernandohds564 @murilobalves


# -------- BASIC MODULES --------

# --- pcaspy-template-generator
/pcaspy-template-generator/ @xresende


# -------- SUBPACKAGES --------

# --- as-ap-currinfo
/as-ap-currinfo/ @anacso17 @murilobalves

# --- as-ap-opmode
/as-ap-opmode/ @xresende @anacso17

# --- as-ap-opticscorr
/as-ap-opticscorr/ @anacso17 @fernandohds564 @xresende @murilobalves

# --- as-ap-posang
/as-ap-posang/ @anacso17 @fernandohds564 @xresende @murilobalves

# --- as-ma
/as-ma/ @xresende @anacso17 @murilobalves

# --- as-ps
/as-ps/ @xresende @anacso17 @murilobalves

# --- as-ti-control
/as-ti-control/ @fernandohds564 @xresende @anacso17

# --- as-ap-sofb
/as-ap-sofb/ @fernandohds564  @xresende @anacso17 @murilobalves
