[Unit]
Description=Soft IOC for SI-AP-CurrentInfo-Charge Calculation
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log/
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ap-currinfo-charge'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ap-currinfo-charge
ExecStart=/usr/local/bin/sirius-ioc-si-ap-currinfo-charge.py
