[Unit]
Description=Insertion Devices Conv IOC
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-id-conv'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-id-conv
ExecStart=/usr/local/bin/sirius-ioc-si-id-conv.py \
SI-09SA:ID-APU22
