[Unit]
Description=Power Supply IOC - DCLinks - Instrumentation Area 20
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-as-ps-dclink-ia20'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-as-ps-dclink-ia20
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py IA-20RaCtrl:CO-DCLinkCtrl
