[Unit]
Description=Power Supply IOC - TB Quadrupoles
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
LimitCORE=infinity
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-tb-ps-quadrupoles'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-tb-ps-quadrupoles
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py LA-RaCtrl:CO-PSCtrl-TB1
