[Unit]
Description=Power Supply IOC - DCLinks - Instrumentation Area 15
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
LimitCORE=infinity
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-as-ps-dclink-ia15'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-as-ps-dclink-ia15
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py IA-15RaCtrl:CO-DCLinkCtrl
