[Unit]
Description=Soft IOC for SI Trims Subsections 11C1, 11C2, 11C3, 11C4
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia11'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia11
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py --eth IA-11RaCtrl:CO-PSCtrl-SI3
