[Unit]
Description=Power Supply IOC - BO Dipoles 2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
LimitCORE=infinity
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-bo-ps-dipole-2'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-bo-ps-dipole-2
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py PA-RaPSF05:CO-PSCtrl-BO1
