[Unit]
Description=Power Supply IOC - TS Quadrupoles TS-04:PS-QD4B TS-04:PS-QD4A TS-04:PS-QF4 TS-03:PS-QF3
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-ts-ps-quadrupoles-34'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-ts-ps-quadrupoles-34
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py LA-RaPS04:CO-PSCtrl-TS
