[Unit]
Description=Power Supply IOC - TS Quadrupoles TS-01:PS-QF1B TS-01:PS-QF1A TS-02:PS-QD2 TS-02:PS-QF2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
LimitCORE=infinity
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-ts-ps-quadrupoles-12'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-ts-ps-quadrupoles-12
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py LA-RaPS02:CO-PSCtrl-TS2
