[Unit]
Description=Power Supply IOC - BO Dipoles 1
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-bo-ps-dipole-1'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-bo-ps-dipole-1
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py PA-RaPSE05:CO-PSCtrl-BO
