[Unit]
Description=Power Supply IOC - SI Correctors Subsections 13C2, 13M1, 13M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-correctors-c2m12-ia13'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-correctors-c2m12-ia13
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py --eth IA-13RaCtrl:CO-PSCtrl-SI2
