[Unit]
Description=Power Supply IOC - SI Correctors Subsections 10C2, 10M1, 10M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-correctors-c2m12-ia10'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-correctors-c2m12-ia10
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py --eth IA-10RaCtrl:CO-PSCtrl-SI2
