[Unit]
Description=Power Supply IOC - DCLinks - Instrumentation Area 05
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-as-ps-dclink-ia05'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-as-ps-dclink-ia05
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py --eth IA-05RaCtrl:CO-DCLinkCtrl
