[Unit]
Description=Soft IOC for SI Trims Subsections 09C1, 09C2, 09C3, 09C4
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia09'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia09
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py IA-09RaCtrl:CO-PSCtrl-SI3
