[Unit]
Description=Soft IOC for SI Trims Subsections 01C1, 01C2, 01C3, 01C4
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia01'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia01
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py IA-01RaCtrl:CO-PSCtrl-SI3
