[Unit]
Description=Power Supply IOC - SI Correctors Subsections 12C2, 12M1, 12M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
LimitCORE=infinity
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-correctors-c2m12-ia12'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-correctors-c2m12-ia12
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py IA-12RaCtrl:CO-PSCtrl-SI2
