[Unit]
Description=Power Supply IOC - BO Dipoles 1
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-bo-ps-dipole-1'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-bo-ps-dipole-1
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py --eth PA-RaPSE05:CO-PSCtrl-BO
