[Unit]
Description=Soft IOC for SI Trims Subsections 08C1, 08C2, 08C3, 08C4
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
LimitCORE=infinity
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia08'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-trims-qs-c1234-ia08
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py IA-08RaCtrl:CO-PSCtrl-SI3
