[Unit]
Description=Power Supply IOC - BO Correctors - IA07
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-bo-ps-correctors-ia07'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-bo-ps-correctors-ia07
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py --eth IA-07RaCtrl:CO-PSCtrl-BO
