[Unit]
Description=Simul Power Supply BO:Fam:PS_B-1 Epics IOC
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-bbb-ioc-ps-simul-bo-b-1'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-ps=simul-bo-b-1
ExecStart=/usr/local/bin/sirius-ioc-as-ps.py --simul PA-RaPSE05:CO-PSCtrl-BO
