[Unit]
Description=Soft IOC for Energy Calculation for Sirius Linac
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/sirius-ioc-li-ap-energy'
EnvironmentFile=-/tmp/sirius-ioc-li-ap-energy
ExecStart=/usr/local/bin/sirius-ioc-li-ap-energy.py
