[Unit]
Description=SI Trims Power Supply Diagnostics IOC
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ps-diag-trim-q1234'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ps-diag-trim-q1234
ExecStart=/usr/local/bin/sirius-ioc-as-ps-diag.py SI "[0-2][0-9].*" "Q[1-4]"
