[Unit]
Description=Soft IOC to process Manaca beam Image
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/sirius-ioc-si-ap-manaca'
EnvironmentFile=-/tmp/sirius-ioc-si-ap-manaca
ExecStart=/usr/local/bin/sirius-ioc-si-ap-manaca.py
