[Unit]
Description=Soft IOC for Timing Booster Triggers
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/sirius-ioc-bo-ti-trig'
EnvironmentFile=-/tmp/sirius-ioc-bo-ti-trig
ExecStart=/usr/local/bin/sirius-ioc-bo-ti-control.py -t bo
