[Unit]
Description=Soft IOC for Timing AS Triggers
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/sirius-ioc-as-ti-trig'
EnvironmentFile=-/tmp/sirius-ioc-as-ti-trig
ExecStart=/usr/local/bin/sirius-ioc-as-ti-control.py -t trig-as
