[Unit]
Description=Soft IOC for SI Quad Trims Trigger
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/sirius-ioc-si-ti-trig-qtrims'
EnvironmentFile=-/tmp/sirius-ioc-si-ti-trig-qtrims
ExecStart=/usr/local/bin/sirius-ioc-as-ti-control.py -s si-qtrims
